body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#buttonSidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#gridButton {
    width: 275px;
    height: 75px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
}

.buttonRow {
    display: flex;
}

#gridButtonRow {
    justify-content: center;
}

.colorOptionButton {
    width: 75px;
    height: 50px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 12px;
}

#clearButton {
    width: 75px;
    height: 50px;
    margin-right: 15px;
    margin-left: 15px;
}

.square {
    box-sizing: border-box;
    flex: 0 0 calc(100% / 100);
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
    height: 750px;
    width: 750px;
}
